$background-color: #f4f7f9;
$active-background-color: white;
$bold-font-color: black;
$normal-font-color: #83949f;
$light-font-color: #d3d1d1;
$border-color: #dedede;
$red-color: #e3482c;
$green-color: #1abc9c;

$lg-font-size: 1.7em;
$md-font-size: 1.3em;
$sm-font-size: 1em;
$xs-font-size: 0.75em;
$xl-font-size: 1.9em;


$std-width: 70px;


.up{
    color: $green-color !important;
}

.down{
    color: $red-color !important;
}

@mixin border-right{
  border-right: 2px solid $active-background-color;
}

@mixin flex-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin stock-page{

    margin-left: $std-width;
    overflow: hidden;

    .container-fluid{
      padding-left: 0px;
      padding-right: 0px;
    }

    .section-title{
        text-transform: uppercase;
        color: $bold-font-color;
        font-size: $md-font-size;
        font-weight: 500;
        margin: 15px 25px;
    }

}


@mixin custom-top-bar {

    .top-bar{
        border-bottom: 1px solid $border-color;
        width: 100%;
    }

    .search{
      max-width: 50%;

      .input-group{
        height: $std-width;
      }
    }

    .input-group-addon{
      background-color: $background-color;
      border: none;
      color: $normal-font-color;
    }

    input{
      background-color: $background-color;
      color: $normal-font-color;
      font-size: $sm-font-size ;
      border: none;
      height: inherit;
      box-shadow: none;
      outline: none;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $light-font-color;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $light-font-color;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $light-font-color;
    }

    .portfolio-head-bar{
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;

      .portfolio-item{
        min-width: 150px;
        text-align: center;

        h6 {
          color: $normal-font-color;
          text-transform: uppercase;
          font-size: $xs-font-size;
        }

        h5{
          font-weight: 500;
          font-size: $md-font-size;
          color: $bold-font-color;


          span {
            font-size: $xs-font-size;
          }
        }
      }
    }



}
