
<div id="contactPage">
  <div id="headingTile" class="jumbotron">
    <h1 class="display-3">Contact</h1>
    <h1 class="display-4"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></h1>
    <p class="lead">Any concerns, suggestions, or remarks? Feel free to contact us!</p>
    <p>Email: robinhood@gmail.com</p>
    <hr class="my-4">
    <p><b>Frequently Asked Questions</b></p>
    <p id="headingSub" class="lead">
    </p>
  </div>
  <div>
    <div class="question">
      Where are my tendies
    </div>
    <div class="answer">
      Buy JNUG and it shall rise on the 4th day.
    </div>
  </div>


</div>
