@import '../../styles/dark-theme';
@import '../../../style';

.positionTile{
  width: 200px;
  height: 200px;
  background-color: #74828d;
  border-radius:5px;
  display:inline-block;
  border: solid white 1px;

}
