@import '../../styles/white-theme';
@import '../../../style';


.position-tile{
    background-color: $active-background-color;
    width: 220px;
    height: 146px;
    position: relative;

    box-sizing: border-box;
    padding: 5px 15px 10px 15px;
    border-radius: $border-radius;
    margin: 8px 10px;

    @include drop-shadow();

    span{
        font-size: $xs-font-size;
    }

    .upper-info{
        @include flex-div-btw();


        h3 {
            font-size: $md-font-size;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        p{
            font-size: $xs-font-size;
            margin: 0px;
        }

        .graph{
            width: 80px;
        }

    }

    .lower-info{

        @include  flex-div-btw();

        h5 {
            margin-bottom: 5px;
            text-transform: uppercase;
            color: $normal-font-color;
            font-size: $xs-font-size;
        }

        h6 {
            margin-top: 5px;
            font-size: $sm-font-size;
            font-weight: 400;
        }

    }

    &:hover {
        .layover-tile{
            opacity: 1;
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
        }
    }
}

.layover-tile{
    background-color: $layover-background-color;
    opacity: 0;
    width: 240px;
    height: 160px;
    border-radius: $border-radius;
    position: absolute;
    top: -8px;
    left: -10px;

    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    .order-input{
        @include flex-div-btw();
    }

    .order-button{
        margin: 10px;

        @include flex-div-around();
    }

    .border-bottom{
        width: 100px;
        height: 1px;
        background-color: white;
    }


    .form-group{
        padding: 5px 10px;
        margin-bottom: 0px;

        label{
            color: $light-font-color;
            font-size: $xs-font-size;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 0px;
        }

        input {
            background-color: inherit;
            color: white;
            border: none;
            height: 20px;
            padding-top:0px;
            padding-bottom: 0px;
        }

        select {
            background-color: inherit;
            color: white;
            border: none;
            height: 20px;
            padding-top:0px;
            padding-bottom: 0px;
        }
    }

    .total-cost{

        padding: 5px 10px;


        h5 {
            color: $light-font-color;
            font-size: $xs-font-size;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        h6 {
            margin-top: 5px;
            color: white;
        }
    }


}