<div class="positionTile container-fluid {{color+'-border'}} box-shadow">
	<div class="text-center">
		<div class="name">
			<h6>{{position.symbolUX}}</h6>
		</div>
		<div class="price-info">
			<div class="col-5">
				<h5>$ {{position.currentPriceUX}}</h5>
				<p class="inline-block"><span class="glyphicon {{statusIcon}}" aria-hidden="true"></span> {{position.percentChangeUX}}%</p>
				<h6 class="profit inline-block {{color}}">${{position.profitUX}}</h6>
			</div>
			<div class="col-5">
				<h6><span>Total:</span> ${{position.valueUX}}</h6>
				<h6><span>Bought:</span> ${{position.boughtUX}}</h6>
			</div>
		</div>

		<div id="positionGraph">
			<chart [data]="null" [label]="null"></chart>
		</div>

		<div class="">
			<button type="button" class="btn btn-buy">BUY</button>
			<button type="button" class="btn btn-sell">SELL</button>
		</div>
	</div>
</div>
