@import "../../styles/white-theme";

.panel{
  background-color: $active-background-color;
  width: 200px;
  @include static-scroll-y();

  .order {
    background-color: $active-background-color;
    border-bottom: 1px $hover-background-color;
    padding: 0px 10px;
    position: relative;
    height: 60px;
    border-style: none none solid solid;

    @include flex-div-btw();

    h6 {
      color: $normal-font-color;
    }

    &:hover {
      .cancel-overlay {
        opacity: 1;
      }
    }

    .cancel-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 200px;
      height: 60px;
      background-color: $layover-background-color;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        height: 40px;
      }
    }
  }

  .info-tooltip{

    .order-status{
      display: none;
      position:absolute;
      width: max-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%);
      padding: 8px 8px;
      color: $light-font-color;
      border-radius: 5px;
      background-color: $layover-background-color;
      z-index: 10;
    }

    .order-status:before{
      display: none;
      content: ' ';
      height: 0;
      position: absolute;
      width: 0;
      border: 10px solid transparent;
      border-bottom-color: $layover-background-color;
      top: -55%;
      left: 40%;
      z-index: 15;
    }

    &:hover .order-status, .order-status:before{
      display: inline-block;
    }

  }

  .section-title{
    margin: 12px 8px;

    span{
      margin-left: 8px;
      cursor: pointer;
    }
  }
}
