@import '../../styles/dark-theme';
@import '../../../style';

#overviewPage{
  height: 100vh;
  overflow-y: hidden;

  @include stock-page();

  .overview-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #stocks-panel{
    position: relative;
    transition: width 0.3s ease;
    width: 100%;

    @include static-scroll-y();

    .toggle-panel-btn{
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: $layover-background-color;
      color: white;
      font-size: 15px;

      &:hover{
        background-color: $green-color;
      }
    }
  }

  #order-panel{
    transition: width 0.3s ease;
    padding-left: 0px;

  }

  #stocks-panel .has-sidebar{
    min-width: calc(100% - 200px);
  }

}
