

<div id="overviewPage">
<div id="left">
  <div id="stocks">
    <div id="currentPositions">
      <h3>
        <span class="label label-primary">Positions</span>
      </h3>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
    </div>

    <div id="watchList">
      <h3>
        <span class="label label-primary">Positions</span>
      </h3>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
      <stock-tile></stock-tile>
    </div>
  </div>
</div>

<div id="right">
  <div id="orders">
    <h3>
      <span class="label label-primary">Orders</span>
    </h3>
    <div id="orderField">
        <div class="row" class="container-fluid">
          <div class="col-6">hello</div>
        </div>
    </div>

  </div>

</div>



</div>
