<div class="watchTile container-fluid {{color+'-border'}} box-shadow">


	<div class="text-center">
		<div class="name">
			<h6>{{watch.symbolUX}}</h6>
		</div>
		<div class="price-info flex-list">
			<div class="col-6 text-left">
				<h6><span>Sold: </span> ${{watch.soldUX}}</h6>
				<h6><span>Change: </span>{{watch.percentChangeSinceSoldUX}}%</h6>
			</div>
			<div class="col-4 text-right">
				<h5>$ {{watch.currentPriceUX}}</h5>
			</div>

		</div>

		<div id="graph" class="text-center">
			<chart [data]="null" [label]="null"></chart>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-buy">BUY</button>
			<button type="button" class="btn btn-unwatch">unwatch</button>
		</div>
	</div>
</div>
