

<input [(ngModel)] ="loginModel.username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
<input [(ngModel)] ="this.loginModel.password" type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
<button (click)="this.robinhoodDataService.login(this.loginModel.username, this.loginModel.password)" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

