@import '../styles/white-theme';

#overviewBar{
  position:fixed;
  width:80%;
}
h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

h1 {

  font-size: 18px;
  color: white;
}

.top  {
  width: 100%;
  height: 100px;
  background: darken($green-color, 4%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
}

#login-error{
  margin: 20px;
  h6 {
    color: $red-color;
    font-size: $md-font-size;
  }
  p {
    font-size: $sm-font-size;
    font-style: italic;
  }
}


form {
  background-color: $active-background-color;
  box-sizing: border-box;
  width: 260px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  padding-bottom: 40px;
  border-radius: 3px;

}

input {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 30px 0 10px 0;
  border-bottom: solid 1px $green-color;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $green-color 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: darken($green-color, 20%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $green-color;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}

button {
  border: none;
  background: $green-color;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
}

#overviewBar{
  @include stock-page();
  height:70px;
  background-color:white;
  border: 5px solid #f4f7f9;

}


$nav-width: $std-width;



.navbar {
  width: $nav-width;
  border-right: 1px solid $border-color;

}

.navbar-brand {
  background-color: $green-color;
  width: calc(#{$nav-width} - 1px);
  height: $nav-width;
  padding: 0 !important;
}

.navbar-fixed-left {
  width: $nav-width;
  position: fixed;
  border-radius: 0;
  height: 100%;


  @media (max-width: 768px) {
    .navbar-nav{
      margin: 70px 0px;
    }
  }

  


}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */



  .active{
    color: $green-color;
  }

  a {
    width: calc(#{$nav-width} - 1px);
    height: $nav-width;
    text-align: center;
    line-height: 1em;
    padding: 15px 8px;
    color: $normal-font-color;
    &:focus, &:active {
      color: $green-color;

    }

    p{
      font-size: $xs-font-size;
    }
  }



}



