<div class="menu">
	<nav class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<ul class="nav navbar-nav">
					<li class="active"><a href="">Portfolio</a></li>
					<li class="active"><a routerLink="/position" routerLinkActive="active">My Stocks</a></li>
					<li class="active"><a routerLink="/watchList" routerLinkActive="active">Watch List</a></li>
					<button type="submit" class="btn btn-default">Sign out</button>
				</ul>
			</div>
		</div>
	</nav>
</div>

<router-outlet></router-outlet>


