<div class="navbar navbar-fixed-left">
	<div class="navbar-brand" href="#"></div>
	<ul class="nav navbar-nav">
		<li><a href="">
			<i class="material-icons">account_balance</i>
			<p>Overview</p>
		</a></li>
		<li><a routerLink="/position" routerLinkActive="active">
			<i class="material-icons">monetization_on</i>
			<p>Position</p>
		</a></li>
		<li><a routerLink="/watchList" routerLinkActive="active">
			<i class="material-icons">assignment</i>
			<p>Watchlist</p>
		</a></li>
		<li><a href="">
			<i class="material-icons">perm_identity</i>
			<p>About</p>
		</a></li>
		<li><a href="">
			<i class="material-icons">contact_mail</i>
			<p>Contact</p>
		</a></li>
	</ul>
</div>

<router-outlet></router-outlet>


