<!--<div class="container-fluid">-->

	<!--<div id="searchPositions">-->
		<!--<div class="input-group">-->
			<!--<span class="input-group-addon" id="basic-addon1">-->
				<!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
			<!--</span>-->
			<!--<input type="text" class="form-control" placeholder="Search stock" aria-describedby="basic-addon1">-->
		<!--</div>-->
	<!--</div>-->


	<!--<div id="positionList">-->
		<!--<div *ngFor="let position of positionList"><position-tile [position]="position"></position-tile></div>-->
	<!--</div>-->

<!--</div>-->
<div id="position-page" class="stock-page">
	<div class="container-fluid">
		<div class="row top-bar">
			<div id="search-positions" class="col-sm-6 search">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</span>
					<input type="text" class="form-control" placeholder="Search stock by name" aria-describedby="basic-addon1">
				</div>
			</div>

			<div id="portfolio-summary" class="col-sm-6 portfolio-head-bar">
				<div class="portfolio-item" *ngFor="let item of portfolioSummary">
					<h6>{{item.name}}</h6>
					<h5><span>$</span>{{item.value}}</h5>
				</div>
			</div>
		</div>

	</div>
</div>
