@import '../../styles/dark-theme';
@import '../../../style';

//.container-fluid{
//	min-height: 100vh;
//}
//
//#searchPositions{
//
//	@include custom-search-bar();
//
//	.input-group{
//		height: $item-height;
//	}
//}
//
//#positionList{
//	width: 100%;
//	height: 100vh;
//}

#position-page{
	height: 100vh;
	width: 100%;
	margin-left: $std-width;

}