<div class="container-fluid">
	<div class="row top-bar">
		<div id="search-positions" class="col-sm-4">
			<div class="input-group search-box">
				<span class="input-group-addon" id="basic-addon1">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</span>
				<input id="search-input" data-toggle="dropdown" [(ngModel)]="this.searchText" (ngModelChange)="this.onSearchChange(this.searchText)" type="text" class="form-control" placeholder="Add stock to watchlist" aria-describedby="basic-addon1">
				<div id="search-list">
					<div class="search-item" *ngFor="let item of this.searchResult">
						<div class="center-div">
							<h5>{{item[instrument.SYMBOL]}}</h5>
							<h6 *ngIf="item[instrument.NAME]">{{item[instrument.NAME]}}</h6>
						</div>
						<div class="center-div">
							<button type="button" class="btn btn-default" [ngClass]="{'hidden': this.item.action === 'none'}" (click)="toggleStock(item)">{{item?.action}}</button>
						</div>
					</div>
					<div *ngIf="isSearchNotFound()" class="search-item center-div">
						<p>No result found</p>
					</div>
				</div>
			</div>



		</div>

		<div id="portfolio-summary" class="col-sm-8 portfolio-head-bar">
			<div class="portfolio-item" *ngFor="let item of this.getPortfolioDisplay()">
				<h6>{{item?.name}}</h6>
				<h5 [ngClass]="item.gain"><span>$</span>{{item?.value| number : '1.2'}}</h5>
			</div>
		</div>

	</div>
</div>
