#currentPosition {
	width: 100%;
	min-height: 250px;
	background-color: antiquewhite;
}

#watchList {
	width: 100%;
	min-height: 250px;
}


#left{
	border-right: 1px solid grey;
}

#main .col-xs-4 {
	width: 27%;
}

#main .col-xs-8 {
	width: 73%;
}



